<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect("/")
}%>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>


<form id="updateForm" class="border" action="/inv/delete/" method="post">
    <label>Make:<input type="text" name="inv_make" required readonly value="<%= locals.inv_make %>" ></label>
    <label>Model:<input type="text" name="inv_model" required readonly value="<%= locals.inv_model %>"></label>
    <label>Year:<input type="number" name="inv_year" required readonly value="<%= locals.inv_year%>"></label>
    <label>Price:<input type="number" name="inv_price" required readonly value="<%= locals.inv_price%>"></label>
    <p>Confirm Deletion - The delete is permanent.</p>

    <input id="submit" type="submit" value="Delete Inventory Item">
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
</form>

